<div class="fondo-pie">
  <div style="display: flex;justify-content: center;">
    <div type="button" class="cuadro" (click)="retroceder()">
      <ion-icon name="arrow-undo-outline" style="width: 40px; height: 40px; padding: 5px;"></ion-icon>
    </div>
    <div class="cuadro">
      <ion-icon name="home-outline" style="width: 40px; height: 40px; padding: 5px;"></ion-icon>
    </div>
    <div type="button" (click)="irVerHorario()" class="cuadro">
      <ion-icon name="book-outline" style="width: 40px; height: 40px; padding: 5px;"></ion-icon>
    </div>
  </div>
</div>
