<ion-content [fullscreen]="true" class="fondo"> 
  <img src="../../../assets/img/Captura de pantalla 2023-09-05 230157.png" alt="">
  <div style="font-family: 'Times New Roman', Times, serif; text-align: center;">
    Ingrese un Correo para confirmar el cambio de Contraseña
  </div>
  <div style="background-color: rgb(226, 203, 100); margin: 15px; display: flex;">
    <ion-input label="Correo" labelPlacement="floating" placeholder="Ingrese un Correo"></ion-input>
  </div>
  <div style="margin: 15px;">
    <ion-button expand="block" (click)="irInicioSession()">Ingresar Correo</ion-button>
  </div>
</ion-content>
