<ion-header>
  <app-cabecera titulo ="Home"></app-cabecera>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div style="background-color: rgb(231, 235, 37); text-align: center; margin: 50px;">
    <ion-button fill="clear" (click)="irReg()">Registrar Asistencia</ion-button>
  </div>
  <div style="background-color: rgb(231, 235, 37); text-align: center; margin: 50px;">
    <ion-button fill="clear" (click)="irVerAsistencia()">Ver Asistencia</ion-button>
  </div>
  <div style="background-color: rgb(231, 235, 37); text-align: center; margin: 50px;">
    <ion-button fill="clear" (click)="irVerHorario()">Ver Horario</ion-button>
  </div>
</ion-content>
<ion-footer>
  <app-pie></app-pie>
</ion-footer>