.titulo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.fondo{
    --background: url(../../../assets/img/descarga.png) 0/100% 100%;
}
.boton{
    text-align: center;
}
.icono{
    width: 40px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 10px;
}